installationservices/swinstallationfw/test/tusif/scripts/data/swtype.dtd

<!ELEMENT LayeredExecutionEnvironments (softwareType+)>

<!ELEMENT softwareType (localizedName*,mimeType+,sifPluginUid,CustomAcess*,launcherExecutable)>
<!ATTLIST softwareType name CDATA #REQUIRED>

<!ELEMENT localizedName (#PCDATA)>
<!ATTLIST localizedName language CDATA #REQUIRED>

<!ELEMENT sifPluginUid (#PCDATA)>

<!ELEMENT CustomAcess (#PCDATA)>
<!ATTLIST CustomAcess SecureId CDATA #REQUIRED AccessMode CDATA #REQUIRED>

<!ELEMENT launcherExecutable (#PCDATA)>
